@font-face {
  font-family: Fira Sans;
  font-weight: 300;
  src: url('/font/FiraSans-Thin.ttf') format("truetype");
}

@font-face {
  font-family: Fira Sans;
  font-weight: 200;
  src: url('/font/FiraSans-ExtraLight.ttf') format("truetype");
}

@font-face {
  font-family: Fira Sans;
  font-weight: 300;
  src: url('/font/FiraSans-Light.ttf') format("truetype");
}

@font-face {
  font-family: Fira Sans;
  font-weight: 400;
  src: url('/font/FiraSans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: Fira Sans;
  font-weight: 500;
  src: url('/font/FiraSans-Medium.ttf') format("truetype");
}

@font-face {
  font-family: Fira Sans;
  font-weight: 600;
  src: url('/font/FiraSans-SemiBold.ttf') format("truetype");
}

@font-face {
  font-family: Fira Sans;
  font-weight: 700;
  src: url('/font/FiraSans-Bold.ttf') format("truetype");
}

@font-face {
  font-family: Fira Sans;
  font-weight: 800;
  src: url('/font/FiraSans-ExtraBold.ttf') format("truetype");
}

@font-face {
  font-family: Fira Sans;
  font-weight: 900;
  src: url('/font/FiraSans-Black.ttf') format("truetype");
}

body {
  min-height: 100vh;
  background: rgb(199, 199, 199);
  font-family: "Fira Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  margin: 0px;
}
::-webkit-scrollbar {
  width: 3px;
  position: fixed;
}

::-webkit-scrollbar-track {
  background: #444444;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #186186; 
}

::-webkit-scrollbar-thumb:hover {
  background: #186186; 
}
